{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block button_dim %}
    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
    <li><a href="https://pastebin.com/0xGyuk5r" target="_blank" rel="noopener noreferrer" class="nav-link px-2 text-white">Efficient Guide</a></li>
    <li><a href="#" class="nav-link px-2 text-white">Tasks</a></li>
    <li><a href="#" class="nav-link px-2 text-white">Calculators</a></li>
    <li><a href="#" class="nav-link px-2 text-white">News</a></li>
{% endblock %}
{% block content %} {% endblock %}